/* Form margins*/
#myFormZ{
	margin:4%;
  }
  
  
 
   /* Break long words not to overlap*/
 *{
	 word-wrap: break-word;
 } 
 
 
   /*  ----------------Mobile */
@media screen and (max-width: 460px) {   
 
	
}
/* --------------END  Mobile */

.footer {
  /* position: absolute; */
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef; /* #2ba6cb; */
  text-align: center;  
}


/* Mp3 player in header*/
#mpPlayer{
width:90%;
	
}

/* each song div in the list*/
.single-song{
	margin-top:35px;
	 -webkit-transition: all 1.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
     transition: all 1.5s ease;
	
}

/* Song tittle in the player*/
#playerSongTitle{
	height:1.4em;padding-bottom:2.1em;width:20%;background:grey;border-radius:20px;color:white;
	margin: 0 auto;  	
}

/*----------------Mobile */
@media screen and (max-width: 460px) {   
    #playerSongTitle{width:70%;}
}


/* EQ image*/
.eqSmall{
	width:5%;
	margin-left:2em;'
}

/*  ----------------Mobile */
@media screen and (max-width: 460px) {   
 .eqSmall{
	width:14%;
	margin-left:2em;}
}
/* --------------END  Mobile */

/* EQ in Header */
.eqHeader{width:7%;}

/* Header with player are fixed */
#headX{
	
}


/* Class for a playing div with Pause icon */
.playing{
	
}



.styleme{
	
}


/*  Language Selection at top right */
.upload {
	position:absolute;
	right: 1%;
	top:0.5em;
	cursor:pointer;
	font-size:1em;
	text-color:white;
}

.upload a{ color:white;}

 /* Reg exp fron end error span */
.error_req, .sp {color:red;}




 /*======================================================================================================================= */
 
 
 
  /* Class that sets background-image */
.head-style{
	color:white;
	background-color:lavender;padding:10px;
	background-image: url('../../images/bg_image.jpg');  /*url('../images/bg-pattern.jpg')*/
	text-shadow: 1px 1px 2px black, 0 0 1em red; /* Shadow params */
	/* background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); */


  /* descripe the animation behaviour */
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
     transition: all 1.5s ease;
  }

  
  


.myShadow{
    box-shadow: 10px 10px 5px grey;
}
 
.textShadow{ 
    color: white; 
	/* text-shadow: black 0.2em 0.1em 0.2em; */
	text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black;	 
}  












  /* CUSTOM CHECKBOX TOOGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

  /*-----  END CUSTOM CHECKBOX TOOGLE SWITCH ------*/
 
 
 
 
 
 
 /*-----  AUDIO style ------*/
 audio
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.35);

}

 /*----- END AUDIO style ------*/
 
 
 
 
  /*------------------- PULSE CSS CLASS -----------*/
 

 /*--------------- END PULSE CSS CLASS -----------*/